 {% extends 'base.html' %}

{% block title %} Log In {% endblock %}
{% block loginactive %} active {% endblock loginactive %}
{% load static %}
{% block body %}  

{% comment %} <div id="login-box">
    <div class="items">
      <h1>Reset password</h1>
              <form  method="post" style="margin-top:10%;"> {% csrf_token %}
       <input type="password" class="inputcss" name="new_password" placeholder="Password" />  
      <input type="password" class="inputcss" name="reconfirm_password" placeholder=" confirm Password" />     
      <input type="hidden" name="user_id" value="{{user_id}}"> 
      <input type="submit" class="rlbtn" name="signup_submit" value="Submit" />       
      
    </div>   
  </div> {% endcomment %}
  <div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <center><h4>Forgot Password</h4></center>
                     <h1>Forgot Password</h1>
                    <hr class="mt-4 mb-4">
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                   
                       <form  method="post" style="margin-top:10%;"> {% csrf_token %}
       <input type="password" class="inputcss" name="new_password" placeholder="Password" />  
      <input type="password" class="inputcss" name="reconfirm_password" placeholder=" confirm Password" />     
      <input type="hidden" name="user_id" value="{{user_id}}"> 
      <input type="submit" class="rlbtn" name="signup_submit" value="" />
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

  {% endblock body%} 

{% comment %} {% block body %}
<div class="continer">
    <form method="post" class="form" >
        {% csrf_token %}
        <h4>Change Password</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

     
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="new_password"  class="form-control">
           
        </div>



        <div class="form-group">
            <label for="password">Re confirm password</label>
            <input type="text" name="reconfirm_password"   class="form-control">
           
        </div>


        <input type="hidden" name="user_id" value="{{user_id}}">
        
       
        <button class="btn" type="submit">Submit</button>

    </form>
</div>

{% endblock body%} {% endcomment %}
