
{% extends 'base.html' %}
{% block title %}Forget Password{% endblock %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                   
                     <h1>Forgot Password</h1>
                    <hr class="mt-4 mb-4">
                    <div class="alert alert-info">
                        Enter email and a mail will be sent with instructions to reset password
                    </div>
                    <form method="POST" >
                        {% csrf_token %}
                        <input type="email" class="form-control mt-4 mb-4" name="email" placeholder=" Enter email" />
                        <input class="btn btn-primary btn-block mb-4" type="submit" value="Reset Password" >
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
   
{% comment %} <div id="login-box">
    <div class="items">
      <h1>Forgot Password</h1>
              <form  method="post" style="margin-top:10%;"> {% csrf_token %}
       

      <input type="email" class="inputcss" name="username" placeholder=" Enter Username" />     
      <input type="submit" class="rlbtn" name="signup_submit" value="Submit" />       

    </div>   
  </div> {% endcomment %}
  


  

        

