{% extends 'instructor/admin_base.html' %}
{% load static %}
{% block body %}
{% block loginactive %} active {% endblock loginactive %}

<style>
.adminlogin{
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.button{
  color: #fff;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #5029bc;
}
.mm{
    margin-top: 10%;
}
</style>

 
  
 <div class="container"style="background-color:gray; width: 500px; padding:2%;margin-bottom:10%;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); border-radius: 5px; margin-top:10%;">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">change password</h3>
      <hr style=" margin-bottom: 7%;">
      <form  action="admin_change_password" method="POST" >
        {% csrf_token %}
  <div class="form-group">
    <input type="password" class="form-control mt-3 " name="old_password" placeholder="Password" />
  </div>
  <div class="form-group">
    <input type="password"class="form-control mt-3 " name="new_password" placeholder="Password" />  
  </div>
  <div class="form-group">
       <input type="password" class="form-control mt-3 " name="confirm_password" placeholder=" confirm Password" />  
  </div>
  <center><button type="submit" style="width:60%; " class="btn btn-primary">Update Password</button></center>
</form>
    </div>  
   </div>  
   </div>   

      
   {% endblock body %}
   