
<link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
{% load static %}
<nav id="sidebar">
        <div id="sidebar-scroll">
          <div class="sidebar-content">
            <div class="content-header content-header-fullrow px-15">
              <div class="content-header-section sidebar-mini-visible-b">
                  <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn"> </span>
                  <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
               </div>
               <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                  <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
                  <i class="fa fa-times text-danger"></i></button>
                   <div class="content-header-item">
                      <a class="link-effect font-w700" href="">
                         <i class='bx bxs-book-reader text-primary'style="font-size:1.9rem; margin-left:-5%; "></i>
                        <span class="font-size-xl text-primary" style="margin-right:-1%;
                     font-size: 1.8rem;
                  font-weight: 700;
                 font-family: 'Archivo Black', sans-serif;">Study Portal</span>
                      </a>
                    </div>
                </div>
            </div>
  <div class="content-side content-side-full content-side-user px-10 align-parent">
      <div class="sidebar-mini-visible-b align-v animated fadeIn">
          <img src="{% static 'imgage/admin.jpg' %}" alt="">
      </div>
      <div class="sidebar-mini-hidden-b text-center">
        <a class="img-link" href="be_pages_generic_profile.html">
          <img class="img-avatar" src="{% static 'images/admin.jpg' %}" alt="">
        </a>
        <ul class="list-inline mt-10">
          <li class="list-inline-item">
             <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase" href="{% url 'dashboard:admin_home' %}">{{ request.user.username }}</a>
          </li>
          <li class="list-inline-item">
              <a class="link-effect text-dual-primary-dark" href="{% url 'accounts:Logout' %}">
              <i class='bx bxs-left-arrow'></i>
             </a>
          </li>
        </ul>
      </div>
  </div>

  <div class="content-side content-side-full">
        <ul class="nav-main">
            <li class="open">
            <a href="{%url 'dashboard:admin_home'%}"><i class="fas fa-home"></i><span class="sidebar-mini-hide">Home</span></a>
            </li>
            <li>
            <a class="nav-submenu" data-toggle="nav-submenu"> <i class='bx bxs-notepad'></i><span class="sidebar-mini-hide"></span> Notes</a>
        <ul>
          <li>
            <a href="{%url 'dashboard:pending_notes'%}">Pending Notes</a>
          </li>
          <li>
            <a href="{%url 'dashboard:accepted_notes'%}">Accepted Notes</a>
          </li> 
          <li>
           <a href="{%url 'dashboard:rejected_notes'%}">Rejected Notes</a>
          </li>
         <li>
            <a href="{%url 'dashboard:all_notes'%}">All Notes</a>
         </li>
      </ul>
           </li>
             <li class="open">
                <a href="{%url 'dashboard:forum_a'%}"><i class="bx bxs-message-dots"></i><span class="sidebar-mini-hide">Forum</span></a>
            </li> 
             {% comment %} <li>
            <a href="{%url 'dashboard:forum'%}" class="nav-submenu" data-toggle="nav-submenu"><i class="bx bxs-message-dots"></i></i><span class="sidebar-mini-hide"></span>Disscussion Forum</a>
      <ul>
          <li>
            <a href="{%url 'dashboard:computer_science'%}">computer</a>
          </li>
          <li>
            <a href="{%url 'accounts:admin_profile'%}">Profile</a>
          </li>
      </ul>
          </li> {% endcomment %}
            <li>
              <a  href="{%url 'dashboard:showallusers'%}"><i class="bx bxs-group"></i></i><span class="sidebar-mini-hide"> Users</span></a>
            </li>
            <br><br>
            <li>
            <a class="nav-submenu" data-toggle="nav-submenu"><i class='bx bxs-cog'></i><span class="sidebar-mini-hide"></span>Settings</a>
      <ul>
          <li>
            <a href="{%url 'accounts:admin_change_password'%}">Change Password</a>
          </li>
          <li>
            <a href="{%url 'accounts:admin_profile'%}">Profile</a>
          </li>
      </ul>
          </li>
      </ul>
    
    </div>
 </div>
</div>
</nav>