{% extends "user/user_nav.html" %}
{% block title %} Log In {% endblock %}
{% block loginactive %} active {% endblock loginactive %}
{% load static %}
{% block body %}  


  <div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">
                      <h1 style="margin-bottom: 8%;">Change Password</h1>
                   
                    
                    <form method="POST" class="mt-4 mb-4">
                        {% csrf_token %}


            <div class="form-group">
            <input type="password" class=" inputcss"style="width:100%;" name="old_password" placeholder="Old Password" />
            </div>
            <div class="form-group">
          <input type="password" class=" inputcss"style="width:100%;" name="new_password" placeholder="New Password" /> 
         </div> 
         <div class="form-group">
        <input type="password" class="inputcss"style="width:100%;" name="confirm_password" placeholder=" confirm New Password" />
        </div> 
      <div class="form-group">
                     <input type="submit" class="rlbtn" name="signup_submit"  value="Update Password" style="margin-left: -13%; width:150px;" />  
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
  {% endblock body%} 
