{% extends 'base.html' %}
{% block title %}Password Reset Page{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
 <div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">
                      <h1 >Forgot Password</h1>
                   
                    <div class="alert alert-info">
                   <center> Forgotten your password? Enter your registered email address below, and a mail will be sent with instructions to reset password</center>
                    </div>
                    <form method="POST" class="mt-4 mb-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                     <input type="submit" class="rlbtn" name="signup_submit" value="Send Email" style="margin-left: -13%;" />  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 

  {% endblock body%}

