{% extends 'user/user_nav.html' %}
{% load static %}
{% block body %}

     
{% comment %} <style>
  .pp{
  font-size: 1.2rem;
  font-weight: 500;
margin-bottom:0;
  color: #000;
  color: #000 !important;
  font-family: 'Archivo Black', sans-serif;
  }

</style>
{% comment %} <section style="height:700px; width:100%; background-color:lightblue;"> 
 <section style="background-color:lightblue;">
   {% if result %}
   <h3 style="padding-top: 10%;
    padding-left: 15%;">Translated Text<h3>
      <p class="mt-1">{{result}}</p>
    {% endif %}
    </section>        
   <div class="box  "style="margin-left: 50%;  padding-top: 10% ">
         
    <div class="wrapper">
      <header>Text To Speech and text</header>
      <form action="texttotxt" method="POST">
        {% csrf_token %}
         
        <div class="row">
          <label>Enter Text</label>
          <textarea class="tbtn2" name="text" required></textarea>
        </div>
        <div class="row">
          <label>Select Language</label>
          <div class="outer">
            <select class="tbtn2"  name="lang" required>
            
               <option value="">Choose...</option>
               <option  value="en">English</option>
               <option value="hi">Hindi</option>
                <option value="gu">gujarati</option>
                <option value="kn">Kanada</option>
                <option value="te">Telugu</option>
                <option value="ml">malayalam</option>
                <option value="th">Thai</option>
                <option value="ta">Tamil</option>
                <option value="ur">Urdu</option>
                <option value="ne">Nepali</option>
                <option value="fr">Frensh</option>
                <option value="ja">Japanese</option>
                <option value="zh-cn">Chinese</option>
                <option value="ru">Russian</option>
            </select>
          </div>
        </div>
        <button class="ttotbtn tbtn2">Translate</button>
      </form>
     
 {% if music %}
      <audio controls>
  <source src="{%static "speech.mp3" %}"  type="audio/mp3">
</audio>

{% endif %} 
</div>
{% endblock body %}  {% endcomment %}
<style>
  .ply{
    border-color: green;
  }
</style>
<section style="background-color: rgb(233, 227, 227); height:700px; width:100%;">
<section style="padding-top:4%;" >
  <div class="container">
       <div class="row">
         <div class="col-md-5 ">
          <div class="wrapper mt-4">
      <header>Text To Speech and text</header>
      <form action="texttotxt" method="POST">
        {% csrf_token %}
         
        <div class="row">
          <label>Enter Text</label>
          <textarea class="tbtn2" name="text"  required>{{value.text}}</textarea>
        </div>
        <div class="row">
          <label>Select Language</label>
          <div class="outer">
            <select class="tbtn2"  name="lang" required >
            
               <option value="">Choose...</option>
               <option  value="en">English</option>
               <option value="hi">Hindi</option>
                <option value="gu">gujarati</option>
                <option value="kn">Kanada</option>
                <option value="te">Telugu</option>
                <option value="ml">malayalam</option>
                <option value="th">Thai</option>
                <option value="ta">Tamil</option>
                <option value="ur">Urdu</option>
                <option value="ne">Nepali</option>
                <option value="fr">Frensh</option>
                <option value="ja">Japanese</option>
                <option value="zh-cn">Chinese</option>
                <option value="ru">Russian</option>
            </select>
          </div>
        </div>
        <button class="ttotbtn tbtn2">Translate</button>
      </form>
     
 {% if music %}
 <p style="font-weight:bold;font-size:1rem;">Listen Audio</p>
      <audio controls>
  <source src="{%static "speech.mp3" %}"  type="audio/mp3">
</audio>

{% endif %} 
</div>
 {% comment %} border-style: solid; border-color:blue; border-rad;border-radius: 50px 50px; {% endcomment %}

         </div>
       <div class="col-md-7">
          <div class="about-cont" style="padding-left: 46%; padding-top: 15%; ">
          {% if result %}
   <h3>Translated Text<h3>
     <hr>
      <p class="mt-3" style="font-size:1rem; line-height:2rem;">{{result}}</p>
    {% endif %}
         </div>
       </div>
     </div>
  </div>
</section>
</section>
{% endblock body %}